doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Pac-Man
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    #page-wrap
      #home
        button#start CLICK to Play
      #board
      #menu
        #menuMessage
        #menuOptions


    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
